.label {
    -fx-background-color: #cecef5;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-color: #e6e6fa;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.displayPicture {
    -fx-alignment: center
}

